XML_Exam/Tutorial/alfred.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="forest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tree" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tree">
    <xs:complexType mixed="true">
      <xs:attribute name="isAlive" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
